<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
 <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <ul class="pagination pagination-lg justify-content-center">
   <li class="page-item "><a href="" class="page-link">Previous</a></li>
   <li class="page-item"><a href="" class="page-link">1</a></li>
   <li class="page-item"><a href="" class="page-link">2</a></li>
   <li class="page-item disabled"><a href="" class="page-link">3</a></li>
   <li class="page-item"><a href="" class="page-link">4</a></li>
   <li class="page-item active"><a href="" class="page-link">Next</a></li>
  </ul>
  
</body>
</html>