<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <h1>Lorem ipsum dolor sit amet.<span class="badge bg-primary">hello</span> </h1>
  <button  class="btn btn-primary" >
    Natifications
    <span class="badge bg-danger">99</span>
  </button>

  <button type="button" class="btn btn-primary position-relative">
    Inbox
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      99+
    </span>
  </button>

  <span class="badge bg-primary rounded-pill">Primary</span>
  
</body>
</html>