<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
 <style>
  p{
    border: 1px solid black;
  }
 </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- <p class="col-6">column1</p> -->
      <!-- <p class="col-6">column2</p> -->
      <!-- <p class="col-4">column3</p> -->
      <!-- <p class="col-2">column4</p> -->
      <!-- <p class="col-1">column5</p> -->
      <!-- <p class="col-1">column6</p> -->
      <!-- <p class="col-1">column7</p> -->
      <!-- <p class="col-4">column8</p> -->
      <!-- <p class="col-4">column9</p> -->
      <!-- <p class="col-3">column10</p> -->
      <!-- <p class="col-2">column11</p> -->
      <!-- <p class="col-1">column12</p> -->
      <!-- <p class="col-md-3 col-sm-2">col-1</p>
      <p class="col-md-3 col-sm-2">col-2</p>
      <p class="col-md-3 col-sm-4">col-3</p>
      <p class="col-md-3 col-sm-4">col-4</p> -->
      <p class="col-md-9 col-sm-4">col-1</p>
      <p class="col-md-2 col-sm-4">col-2</p>
      <p class="col-md-1 col-sm-4">col-3</p>
      
    </div>
    <div class="row">
      <p class="col-md-1">col-1</p>
      <p class="col-md-2">col-2</p>
      <p class="col-md-9">col-3</p>

    </div>
    
  </div>
</body>
</html>