<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="progress mt-4" style="height: 40px;">
    <div class="progress-bar w-25 bg-warning">25%</div>
  </div>
  <div class="progress mt-4">
    <div class="progress-bar w-50 bg-danger">50%</div>
  </div>
  <div class="progress mt-4">
    <div class="progress-bar w-75">75%</div>
  </div>
  <div class="progress mt-4">
    <div class="progress-bar w-100">100%</div>
  </div>
  <div class="progress mt-4">
    <div class="progress-bar progress-bar-striped w-50">50%</div>
  </div>
  <div class="progress mt-4">
    <div class="progress-bar progress-bar-striped progress-bar-animated w-50">50%</div>
  </div>
  <div class="progress mt-4">
    <div class="progress-bar  w-25 bg-success">25%</div>
    <div class="progress-bar w-25 bg-warning">50%</div>
    <div class="progress-bar w-50 bg-danger">75%</div>
  </div>
  
</body>
</html>