<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="d-flex gap-5">
  <div class="card w-25">
    <img src="https://assets-global.website-files.com/619e8d2e8bd4838a9340a810/647c1064ebf1c6171bfd3a87_profile-picture-feature-1.webp" alt="">
    <div class="card-body">
      <h2 class="card-title">Card title</h2>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, nemo. Enim beatae odit perferendis praesentium.</p>
      <a href="" class="card-link">See profile</a>
    </div>
    <!-- <div class="card-footer">
      This is card footer
    </div> -->

  </div>
  <div class="card w-25">
   <img class="card-img-bottom" src="http://t1.gstatic.com/images?q=tbn:ANd9GcQhZtLf3_hS_i8OAaeYkPWQKISfeOLk97O-ZyWRZxTDl-dH9UtzD3_ZcTsHOX78MP_zIq6n" alt="" height="160px">
    <div class="card-body">
      <h2 class="card-title">Card title</h2>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, nemo. Enim beatae odit perferendis praesentium.</p>
      <a href="" class="card-link">See profile</a>
    </div>
   

  </div>
  <div class="card w-25">
    <img class="card-img-top " src="http://t2.gstatic.com/images?q=tbn:ANd9GcTpOSr30d0Hwqp3zD_PUKxqVegtBfhU0Aa0TZgHhSgUkkxcX-bCG_PMSDTfp81lR66ZYyOi" alt="" height="160px">
    <div class="card-body">
      <h2 class="card-title">Card title</h2>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, nemo. Enim beatae odit perferendis praesentium.</p>
      <a href="" class="card-link">See profile</a>
    </div>
    

  </div>
  </div>
  
</body>
</html>