<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div>
    <!-- Button classes  -->
    <!-- <button class="btn btn-primary">submit button</button>
    <button class="btn btn-info">submit button</button>
    <button class="btn btn-outline-dark">submit button</button>
    <button class="btn btn-outline-danger">submit button</button> -->

    <!-- Button sizes  -->
    <!-- <button class="btn btn-info">submit button</button>
    <button class="btn btn-info btn-sm">submit button</button>
    <button class="btn btn-info btn-lg">submit button</button>
    <button class="btn btn-outline-dark">submit button</button>
    <button class="btn btn-outline-danger btn-sm">submit button</button>
    <button class="btn btn-outline-danger btn-lg">submit button</button> -->

    <!-- disabled  -->

    <!-- <button class="btn btn-info" disabled>submit</button>
    <a href="" type="button" class="btn btn-info disabled" >submit</a>
    <input type="submit" value="submit" class="btn btn-info disabled"> -->

    <!-- display button  -->
    <!-- <div class="d-grid gap-2">
      <button class="btn btn-info w-50 mx-auto mt-5">Submit</button>
      <button class="btn btn-info w-50 mx-auto">Submit</button> 
    </div> -->

    <!-- spinners in buttons -->
    <!-- <button class="btn btn-info">
      <span class="spinner-border"></span>
      submit
    </button>
    <button class="btn btn-info">
      <span class="spinner-grow"></span>
      submit
    </button> -->

    <!-- button groups  -->

    <!-- <div class="btn-group-vertical">
      <button class="btn btn-info">Click</button>
      <button  class="btn btn-info">Signin</button>
      <button  class="btn btn-info">Logout</button>
    </div> -->

    
  </div>
</body>
</html>