<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <table class="table table-hover table-danger table-borderless table-sm">
      <thead class="table-dark">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody class="table-warning">
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr class="table-info">
          <td>July</td>
          <td class="table-dark">Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  
</body>
</html>