<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="spinner-border ms-5 mt-5 text-primary"></div>
  <div class="spinner-border ms-5 mt-5 text-danger"></div>
  <div class="spinner-border ms-5 mt-5 text-warning"></div>
  <div class="spinner-grow ms-5 mt-5 text-primary"></div>
  <div class="spinner-grow ms-5 mt-5 text-danger"></div>
  <div class="spinner-grow ms-5 mt-5 text-warning"></div>
  <div class="spinner-border ms-5 mt-5 text-warning"></div>
  <div class="spinner-border spinner-border-sm ms-5 mt-5 text-warning"></div>
  <div class="spinner-grow spinner-grow-sm ms-5 mt-5 text-warning"></div>
  <div class="spinner-grow  ms-5 mt-5 text-warning"></div>
</body>
</html>