<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <button data-bs-toggle="collapse" data-bs-target="#demo">Collapsible</button>
  
  <div id="demo" class="collapse show">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dolores ut consectetur alias? Corporis illum neque ullam quaerat quidem, dicta, consectetur corrupti eveniet error, veniam facilis! Quisquam sit quos amet qui, dolores soluta quibusdam ipsam beatae dicta recusandae veniam facere assumenda neque, mollitia quae consectetur quod tempora ad? Sint, provident.
  </div>
</body>
</html>