<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container border border-2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem deleniti fugit voluptates ut vitae asperiores ea, veniam iusto qui consectetur assumenda aliquid placeat id delectus praesentium voluptas dolorem inventore iste. Nisi harum, dolores explicabo adipisci voluptas tenetur! Minima, distinctio. Dicta maxime expedita error. Reiciendis earum quos eligendi iste assumenda! Officia officiis dignissimos debitis delectus accusantium autem saepe maiores dolorem aut, eum aspernatur quisquam at aliquid minus deleniti natus temporibus iusto et ratione hic a consectetur. Architecto tenetur accusamus vero blanditiis iure delectus non minus placeat cumque consequatur id qui eos nihil reprehenderit possimus minima voluptas, perspiciatis nostrum voluptatibus suscipit? Quasi?</p>
  </div>
</body>
</html>