<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
 <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <button class="btn btn-info mt-5 ms-5" type="button" data-bs-toggle="modal" data-bs-target="#myModal">open modal</button>

  <div id="myModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">This is modal title</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          Modal Body
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, incidunt.
        </div>
       
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="
          btn btn-danger">close</button>
        </div>

      </div>
    </div>
  </div>
  
</body>
</html>