<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
 <div class="alert alert-primary">
 This is alert message
 </div>
 <div class="alert alert-danger">
 This is alert message
 </div>
 <div class="alert alert-info">
 This is alert message
 </div>
 <div class="alert alert-success">
 This is alert message
 </div>
 <div class="alert alert-secondary">
 This is alert message
 <a href="#" class="alert-link">Redbus</a>
 </div>
 <div class="alert alert-dark alert-dismissible">
 This is alert message
 <button class="btn-close" data-bs-dismiss="alert"></button>
 </div>
</body>
</html>